<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tekken 7</title>
  </head>
  <body>
    <div id="app">
      <h1>King of Iron Fist Tournament 7 characters</h1>
      <p v-if="characterList.length === 0">No characters</p>
      <ul v-else>
        <li v-for="character in characterList" :key="character.name">
          {{ character.name }}
          <button @click="favCharacter(character.name)">Favorite</button>
        </li>
      </ul>
      <p>
        <span v-for="(character, index) in characterList"
          >{{ character.name}} {{ index < characterList.length - 1 ? ", " : ""
          }}
        </span>
      </p>

      <hr />

      <!-- Fav Character List -->
      <h1>Favorite characters</h1>
      <ul>
        <li v-for="character in favoriteCharacters">{{ character}}</li>
      </ul>

      <!-- New Character -->
      <h2>New Character</h2>
      <!-- can use keyup.enter to add a character -->
      <p>Name of new character</p>
      <input type="text" v-model="newCharacter.name" />
      <!-- <button @click="addACharacter">Add</button> -->
      <p>Tier of new character</p>
      <input type="text" v-model="newCharacter.teir" @keyup.enter="addACharacter(newCharacter)" />
      <p v-if="newCharacter.name.length !== 0">{{newCharacter.name}} will be added</p>
      </p>

      <hr>

      <!-- Teir List-->
      <h2>Character Teir List</h2>
      <!-- <pre>{{rankCharacters}}</pre> -->
      <ul>
        <li v-for="rank in rankCharacters">{{rank.name}} is teir: {{rank.teir}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      Vue.createApp({
        data: () => ({
          characterList: [
            { name: "King", teir: 'B', points: 5},
            { name: "Kazuya", teir: 'B', points: 5},
            { name: "Jin", teir: 'B', points: 5},
            { name: "Master Raven", teir: 'A', points: 6 },
          ],
          favoriteCharacters: [],
          newCharacter: {name: '', teir: '', points: 0},
        }),
        computed: {
          rankCharacters() {
            return this.characterList.sort((a, b) => b.points - a.points)
          }
        },
        methods: {
          favCharacter(c) {
            // checks
            if (this.favoriteCharacters.includes(c)) {
              return;
            }
            this.favoriteCharacters.push(c);
          },
          addACharacter(nc) {
            // checks
            if (
              this.characterList.some((nc) => nc.name === this.newCharacter.name)
            ) {
              return;
            } else if ((nc.name.length && nc.teir.length) === 0) {
              return;
            }

            const listWithPointsAdded = this.setTeirPoints(nc)
            this.characterList.push(listWithPointsAdded);
            this.newCharacter = {name: '', teir: '', points: 0};
          },
          setTeirPoints(c) {
            if (c.teir === 'A') {
              c.points = 6
            } else if (c.teir === 'B') {
              c.points = 5
            } else if (c.teir === 'C') {
              c.points = 4
            } else if (c.teir === 'D') {
              c.points = 3
            } else if (c.teir === 'E') {
              c.points = 2
            } else if (c.teir === 'F') {
              c.points = 1
            } else if (c.teir === 'S') {
              c.points = 7
            } 
            return c
          }
        },
      }).mount("#app");
    </script>
  </body>
</html>
